<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Web App</title>
    <!-- style -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- header start -->
    <header class="container">
      <!-- navbar -->
      <nav class="navbar">
        <div class="navbar-start">
          <a href="./index.ejs">
            <img src="/images/logo.svg" alt="heder-logo" />
          </a>
        </div>
        <div class="navbar-center">
          <a class="menu-subtitle" href="./index.ejs">Home</a>
          <a class="menu-subtitle" href="./about.ejs">About</a>
          <a class="menu-subtitle" href="./recipes.ejs">Recipes</a>
        </div>
        <div class="navbar-end">
          <a class="btn-xs navbar-btn" href="./recipes.ejs">Browse recipe</a>
        </div>

        <!-- Hamburger (mobile) -->
        <div class="hamburger" id="hamburger">
          <span class="hamburger-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="16"
              fill="none"
              viewBox="0 0 18 16"
            >
              <path
                fill="#163A34"
                fill-rule="evenodd"
                d="M17 16H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 2H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 9H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </nav>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <span id="closeBtn">✖</span>
        </div>
        <a class="menu-subtitle" href="./index.ejs">Home</a>
        <a class="menu-subtitle" href="./about.ejs">About</a>
        <a class="menu-subtitle" href="./recipes.ejs">Recipes</a>
        <a class="menu-subtitle" href="./recipes.ejs">Browse recipe</a>
      </div>

      <!-- Overlay -->
      <div class="overlay" id="overlay"></div>
    </header>
    <!-- header end -->

    <!-- main start -->
    <main class="main">
      <section class="hero-img-container">
        <!-- hero section -->
        <div class="container">
          <!-- hero items -->
          <div class="hero-container">
            <div class="hero-items">
              <h2 class="hero-title">
                <span class="highlight-text">Healthy</span> meals zero fuss
              </h2>
              <p class="hero-subtitle">
                Discover eight quick, whole-food recipes that you can cook
                tonight
              </p>
              <p class="hero-subtitle">—no processed junk, no guesswork.</p>
              <div class="mobile-subtitle hidden">
                Discover eight quick, whole-food recipes that you can cook
                tonight —no processed junk, no guesswork.
              </div>
              <a class="btn exploring-btn" href="#">Start exploring</a>
            </div>
            <!-- hero img -->
            <div class="img-hero-container">
              <img
                class="hero-img"
                src="/images/image-home-hero-large.webp"
                alt="hero-img"
              />
            </div>
          </div>
        </div>
      </section>
      <div class="line container"></div>
      <!-- what youl get -->
      <section class="container hero-cards">
        <h3 class="card-main-title">What you’ll get</h3>
        <div class="card-container">
          <% items.map((item) => { %>
          <div class="card-main">
            <!-- img -->
            <div>
              <img src="<%=item.img%>" alt="carrot" />
            </div>
            <!-- title -->
            <div>
              <p class="card-title"><%=item.title%></p>
            </div>
            <!-- subtitle -->
            <div>
              <p class="card-subtitle"><%=item.description%></p>
            </div>
          </div>
          <% }) %>
        </div>
      </section>
      <div class="line container"></div>
      <!-- built -->
      <section class="container">
        <div class="built-container">
          <div class="built-items">
            <h3 class="built-title">Built for real life</h3>
            <p class="built-subtitle built-subtitle-top">
              Cooking shouldn’t be complicated. These recipes come in under
              <span class="highlight-subtitle">30 minutes </span> of active
              time, fit busy schedules, and taste good enough to repeat.
            </p>
            <p class="built-subtitle">
              Whether you’re new to the kitchen or just need fresh ideas, we’ve
              got you covered.
            </p>
          </div>
          <div class="built-img">
            <img
              class="built-img"
              src="/images/image-home-real-life-large.webp"
              alt="built-img"
            />
          </div>
        </div>
      </section>
      <!-- ready -->
      <section class="container ready-container">
        <div class="ready-items">
          <h3 class="ready-title">Ready to cook smarter?</h3>
          <p class="ready-subtitle">
            Hit the button, pick a recipe, and get dinner on the table—fast.
          </p>
          <a class="btn-xs ready-btn" href="#">Browse recipes</a>
        </div>
      </section>
    </main>
    <!-- main end -->

    <!-- footer start -->
    <footer>
      <div class="footer-container container">
        <div class="footer-title">Made with ❤️ and 🥑</div>
        <div class="footer-icons">
          <img src="/images/icon-instagram.svg" alt="instagram" />
          <img src="/images/icon-tiktok.svg" alt="icon-tiktok" />
          <img src="/images/icon-bluesky.svg" alt="blusky" />
        </div>
      </div>
    </footer>

    <!-- footer end -->

    <script type="module" src="/js/index.js"></script>
  </body>
</html>
