<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Web App</title>
    <!-- style -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- header start -->
    <header>
      <!-- navbar -->
      <nav class="navbar container">
        <div class="navbar-start">
          <a href="#">
            <img src="/images/logo.svg" alt="heder-logo" />
          </a>
        </div>
        <div class="navbar-center">
          <a class="menu-subtitle" href="#">Home</a>
          <a class="menu-subtitle" href="#">About</a>
          <a class="menu-subtitle" href="#">Recipes</a>
        </div>
        <div class="navbar-end">
          <a class="btn-xs navbar-btn" href="#">Browse recipe</a>
        </div>
      </nav>
    </header>
    <!-- header end -->

    <!-- main start -->
    <main></main>
    <!-- main end -->

    <!-- footer start -->
    <footer></footer>
    <!-- footer end -->
  </body>
</html>
