<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Web App</title>
    <!-- style -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- header start -->
    <header class="container">
      <!-- navbar -->
      <nav class="navbar">
        <div class="navbar-start">
          <a href="#">
            <img src="/images/logo.svg" alt="heder-logo" />
          </a>
        </div>
        <div class="navbar-center">
          <a class="menu-subtitle" href="#">Home</a>
          <a class="menu-subtitle" href="#">About</a>
          <a class="menu-subtitle" href="#">Recipes</a>
        </div>
        <div class="navbar-end">
          <a class="btn-xs navbar-btn" href="#">Browse recipe</a>
        </div>

        <!-- Hamburger (mobile) -->
        <div class="hamburger" id="hamburger">
          <span class="hamburger-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="16"
              fill="none"
              viewBox="0 0 18 16"
            >
              <path
                fill="#163A34"
                fill-rule="evenodd"
                d="M17 16H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 2H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2ZM17 9H1a1 1 0 1 1 0-2h16a1 1 0 1 1 0 2Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </div>
      </nav>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <span id="closeBtn">✖</span>
        </div>
        <a class="menu-subtitle" href="#">Home</a>
        <a class="menu-subtitle" href="#">About</a>
        <a class="menu-subtitle" href="#">Recipes</a>
        <a class="menu-subtitle" href="#">Browse recipe</a>
      </div>

      <!-- Overlay -->
      <div class="overlay" id="overlay"></div>
    </header>
    <!-- header end -->

    <!-- main start -->
    <main></main>
    <!-- main end -->

    <!-- footer start -->
    <footer></footer>
    <!-- footer end -->

    <script type="module" src="/js/index.js"></script>
  </body>
</html>
