<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delicious Recipe</title>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-neutral-100">
    <!-- HEADER START -->
    <header>
      <nav class="fixed top-0 w-full bg-neutral-100 shadow-md z-50 p-5">
        <div class="align-elements flex items-center justify-between">
          <div class="navbar-start">
            <a href="#"> <img src="./src/images/logo.svg" alt="logo" /></a>
          </div>
          <div class="navbar-center flex gap-3">
            <a
              class="text-neutral-900 font-semibold pb-1 border-b-2 border-transparent hover:border-orange-500"
              href="#"
              >Home</a
            >
            <a
              class="text-neutral-900 font-semibold pb-1 border-b-2 border-transparent hover:border-orange-500"
              href="#"
              >About</a
            >
            <a
              class="text-neutral-900 font-semibold pb-1 border-b-2 border-transparent hover:border-orange-500"
              href="#"
              >Recipes</a
            >
          </div>
          <div class="navbar-end">
            <a href="#" class="btn btn-neutral bg-neutral-900"
              >Browse recipes</a
            >
          </div>
        </div>
      </nav>
    </header>
    <!-- HEADER END -->

    <!-- MAIN START -->
    <main class="bg-neutral-100">
      <!-- hero section -->
      <section class="pt-20 align-elements">
        <!-- hero title -->
        <div class="text-start lg:text-center">
          <h1
            class="text-[52px] sm:text-[64px] lg:text-7xl font-extrabold text-neutral-900 mb-[12px] mt-[80px]"
          >
            Healthy meals, zeor fuss
          </h1>
          <p class="text-neutral-900 text-xl">
            Discover eight quick, whole-food recipes that you can cook tonight
          </p>
          <p class="text-neutral-900 text-xl">
            —no processed junk, no guesswork
          </p>
          <a class="btn btn-neutral bg-neutral-900 my-10" href="#"
            >Start exploring</a
          >
        </div>
        <!-- hero img -->
        <div class="flex items-center justify-center">
          <img
            class="border-[8px] rounded-xl border-white border-solid"
            src="./src/images/image-home-hero-large.webp"
            alt="hero-img"
          />
        </div>
        <!-- youll get -->
        <div class="my-24">
          <h3 class="text-center font-extrabold text-5xl text-neutral-900">
            What you'll get
          </h3>
          <!-- main cards -->
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 my-12">
            <div class="flex flex-col items-start">
              <img class="mb-6" src="./src/images/carrots.svg" alt="carrot" />
              <p class="text-neutral-900 text-3xl font-bold mb-3">
                Whole-food recipes
              </p>
              <p class="text-neutral-800 text-xl font-light">
                Each dish uses everyday, unprocessed ingredients.
              </p>
            </div>

            <div class="flex flex-col items-start">
              <img class="mb-6" src="./src/images/feature.svg" alt="carrot" />
              <p class="text-neutral-900 text-3xl font-bold mb-3">
                Minimum fuss
              </p>
              <p class="text-neutral-800 text-xl font-light">
                All recipes are designed to make eating healthy quick and easy.
              </p>
            </div>

            <div class="flex flex-col items-start">
              <img class="mb-6" src="./src/images/search.svg" alt="carrot" />
              <p class="text-neutral-900 text-3xl font-bold mb-3">
                Search in seconds
              </p>
              <p class="text-neutral-800 text-xl font-light">
                Filter by name or ingredient and jump straight to the recipe you
                need.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- MAIN END -->

    <!-- FOOTER START -->
    <footer class="bg-neutral-100 py-10 text-center">
      <p class="text-neutral-600">
        © 2025 Delicious Recipe. All rights reserved.
      </p>
    </footer>
    <!-- FOOTER END -->

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
