@import "./font.css";
@import "./footer.css";
@import "./header.css";
@import "./variables.css";
@import "./about.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px */
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter";
  background: var(--neutral-100);
  padding-top: 3.2rem;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1192px; /* o'zgaruvchan */
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  font-weight: 500;
  color: var(--neutral-0);
  cursor: pointer;
  line-height: 140%;
  font-size: 2rem;
  border: none;
}

.btn-xs {
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
  font-weight: 500;
  color: var(--neutral-0);
  cursor: pointer;
  line-height: 140%;
  font-size: 2rem;
  border: none;
}

.hidden {
  display: none;
}

.line {
  width: 100%;
  border: solid 1px #e0e6e3;
  margin-top: 9.7rem;
  margin-bottom: 9.7rem;
}
